*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*----HEADER----*/

header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
}

button{
    padding: .5rem 2.5rem;
    border-radius: 25px;
    background-color: transparent;
    font-weight: 800;
    display: flex;
}

header button:hover{
    font-size: 1rem;
}

/*----MAIN CONTENT*/

main{
    width: 100%;
    height: 100%;
    background-color: #141922;
    padding: 70px 15px 15px 15px;
    overflow-y: auto;
}

.main-body{
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
}

#main-head{
    width: calc(100vw - 50px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

main a{
    text-decoration: none;
    color: #828282;
}

main img{
    max-width: 150px;
    max-height: 150px;
}

main h1,
main li{
    padding: .5rem 1rem;
}

main .col{
    width: calc(100% / 2);
}

.band-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

main a:hover{
    color: #fff;
    border-bottom: 2px solid #30ee3a;
}

.user{
    display: flex;
}

/*----ASIDE BAR----*/

aside{
    width: 50px;
    height: 100%;
    background-color: #000;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside a{
    text-decoration: none;
    color: #828282;
    display: flex;
    align-items: center;
    padding: 2px;
}

aside .top-left a:first-child{
    color: #fff
}

aside i{
    font-size: 1.5rem;
    padding-right: 1rem;
}


aside a:hover{
    color: #fff;
}

aside h3{
    Font-size: .7rem;
    font-weight: 700;
}

.logo img{
    padding: 1rem 1rem;
    width: 80%;
}

.logo-small{
    width: 40px;
    height: 40px;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.user img{
    width: 20px;
    height: 20px;
    background-color: #888888;
    border-radius: 10rem;
    margin-right: 1rem;
}

.top-left i:hover, .bot-left i:hover, .content-inf i:hover{
    color: #fff;
}

.top-left a:hover{
    border-left: 2px solid #30ee3a;
}

.add h3{
    font-size: 1rem;
}

.johny{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
}

.list-overflow{
    height: 200px;
    overflow-y: auto;
}

.list-overflow li{
    padding: 0.5rem 0;
}

.list-overflow li:first-child{
    padding-bottom: .5rem;
}

/*----OVERFLOW DELLA LIST----*/

.list-overflow::-webkit-scrollbar{
    width: 0.4rem;
}

.list-overflow::-webkit-scrollbar-track{
    background: #222222;
    border-radius: 10rem;
}

.list-overflow::-webkit-scrollbar-thumb{
    background-color: #888888;
    border-radius: 20px;
    border: 1px solid #282828;
}

/*----FOOTER----*/

footer{
    height: 100px;
    width: 100vw;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.player-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-lft{
    display: flex;
    align-items: center;
}

.content-lft, .content-rght{
    width: 30%;
}

.central-player{
    width: 30%;
}

.player-icon{
    width: 100%;
    font-size: 1rem;
}

.player-icon i:nth-child(3){
    font-size: 1.5rem;
}

.current-band-img{
    width: 30%;
    display: none;
}

.playng-img{
    max-width: 100%;
}

.current-song{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fav-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-min, .time-max{
    color: #fff;
    font-size: .7rem;
}

footer .content-lft p,
footer .content-lft i{
    color: #888888; 
}

footer i{
    color: #fff;
}

footer .content-lft i:hover{
    color: #fff;
}

.player-icon ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.layout-icon ul{
    list-style-type: none;
}

.time-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.progres-bar{
    width: 80%;
    height: 5px;
    background-color: rgba(112, 112, 112, 0.5);
    border-radius: 25px;
    cursor: pointer;
}

.played-time{
    width: 20%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(112, 112, 112, .7);
    position: relative;
}

.bar-cursor{
    display: none;
}

.progres-bar:hover .bar-cursor{
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(112, 112, 112, 1);
    top: 50%;
    right: 0;
    transform: translateY(-50%); /*----mportante, è fighissimo!!!----*/
}

.progres-bar:hover .played-time{
    background-color: #0ce005;
}

footer li{
    padding: 3px;
}

.central-player li:nth-child(3){
    font-size: 2rem;
}

.content-rght{
    width: 30%;
    display: flex;
    align-items: center;
}

.volume-icon{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.vol-bar{
    width: 60%;
    height: 5px;
    background-color: rgba(112, 112, 112, 0.5);
    border-radius: 25px;
    cursor: pointer;
}

.volume{
    width: 35%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(112, 112, 112, .7);
    position: relative;
}

.vol-cursor{
    display: none;
}

.vol-bar:hover .vol-cursor{
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(112, 112, 112, 1);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.vol-bar:hover .volume{
    background-color: #0ce005;
}

.layout-icon{
    width: 30%;
    font-size: .9rem;
}

/*----others----*/

main ul{
    padding: 10px;
    list-style: none;
}

p{
    font-size: 0.7rem;
    font-weight: 700;
    color: #828282;
}

h1, h2, h3, button{
    color: #fff;
}

h1{
    font: 1.5rem;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 0.9rem;
}

.row{
    width: 100%;
    display:flex;
}

.col{
    width: 100%;
}

/*----flexy stuff----*/

.align-end{
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    margin-right: 15vw;
}

.flexy{
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

/*----PADDING, MARGINI E UTILITIES----*/

.v-margin{
    margin: 1rem 0;
}

.v-margin-half{
    margin: .5rem 0;
}

.v-padding{
    padding: 1rem 0;
}

.pad-left{
    padding-left: 1rem;
}

.small{
    display: block;
}

.wild{
    display: none;
}

/*----MEDIA----*/

@media screen and (min-width: 768px){
    aside{
        width: 150px;
    }

    main ul{
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    .small{
        display: none;
    }

    .wild{
        display: block;
    }

    .align-end{
        margin-top: 1vh;
        margin-right: 20vw;
    }

    #main-head{
        width: calc(100vw - 150px);
    }

    .content-lft, .content-rght{
        width: 200px;
    }

    .central-player{
        width: 300px;
    }

    .fav-icons{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    footer i{
        margin: 3px;
    }

    .current-band-img{
        display: block;
    }

    .layout-icon ul{
        display: flex;
    }
}

@media screen and (min-width: 992px){
    aside{
        width: 200px;
    }

    main{
        padding: 120px 20px 20px 20px
    }

    header{
        height: 100px;
    }

    #main-head{
        width: calc(100vw - 200px);
    }

    .align-end{
        margin-top: 4vh;
    }

    .content-lft,
    .content-rght{
        width: 230px;
    }

    .central-player{
        width: 400px;
    }

    main .col{
        width: calc(100% / 6);
    }
}